.container {
	margin: 0 auto;
	max-width: var(--grid-default-width);
	padding: 0 calc(var(--spacer) * 2);
	width: 100%;

	&--small {
		max-width: var(--grid-small-width);
	}

	&--full {
		max-width: 100%;
	}
}
