.footer {
	border-top: rem-calc(1px) solid var(--color-gray-200);
	padding: calc(var(--spacer) * 3) 0;

	&,
	&__link,
	&__image span {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&__image {
		margin-left: calc(var(--spacer) / 2);

		svg {
			width: rem-calc(20px);
			height: rem-calc(20px);
		}
	}
}
