.title,
.description {
	@apply text-center;
}

.title {
	@apply font-extrabold;
	margin: 0;
	font-size: rem-calc(60px);
	line-height: 1.15;

	@screen md {
		font-size: rem-calc(90px);
	}
}

.cta-link {
	@apply text-blue;

	&,
	&:hover,
	&:focus,
	&:active {
		@apply no-underline;
	}
}

.description {
	@apply leading-normal;
	font-size: rem-calc(22px);
	margin: calc(theme('spacing') * 6.5) 0 0;

	code {
		font-size: rem-calc(22px);
	}
}
