/* stylelint-disable value-no-vendor-prefix */

/* Clamps, aka truncates, multi-line text */
@mixin line-clamp($lines-to-show) {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines-to-show;
}
