.container {
	padding: 0 calc(var(--spacer) * 3);
}

.title,
.description {
	text-align: center;
}

.title {
	font-size: rem-calc(40px);
	line-height: 1.15;
	margin: 0;

	@include breakpoint(md) {
		font-size: rem-calc(65px);
	}

	a {
		color: var(--color-blue-100);
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}

.description {
	font-size: rem-calc(22px);
	line-height: 1.5;
	margin: calc(var(--spacer) * 6.5) 0;

	@include breakpoint(md) {
		font-size: rem-calc(25px);
	}
}
