html,
body {
	font-family: theme('fontFamily.inter'), theme('fontFamily.sans'), 'sans-serif';
	margin: 0;
	padding: 0;
}

@supports (font-variation-settings: normal) {
	html,
	body {
		font-family: theme('fontFamily.interVar'), theme('fontFamily.inter'), theme('fontFamily.sans'), 'sans-serif';
	}
}

::selection {
	@apply bg-blue text-white;
}

a {
	@apply no-underline text-inherit;
}

* {
	@apply box-border;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -.04em;
}
