/* Breakpoints */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1024px;

@mixin breakpoint($attr) {
	@if $attr == "sm" or $attr == "sm up" {
		@media (min-width: $screen-sm) {
			@content;
		}
	} @else if $attr == "sm down" {
		@media (max-width: $screen-sm) {
			@content;
		}
	} @else if $attr == "md" or $attr == "md up" {
		@media (min-width: $screen-md) {
			@content;
		}
	} @else if $attr == "md down" {
		@media (max-width: $screen-md) {
			@content;
		}
	} @else if $attr == "lg" or $attr == "lg up" {
		@media (min-width: $screen-lg) {
			@content;
		}
	} @else if $attr == "lg down" {
		@media (max-width: $screen-lg) {
			@content;
		}
	} @else if $attr == "xl" or $attr == "xl up" {
		@media (min-width: $screen-xl) {
			@content;
		}
	} @else if $attr == "xl down" {
		@media (max-width: $screen-xl) {
			@content;
		}
	}
}
