/* Base */
@import "/scss/base";

.main {
	min-height: calc(100vh - #{rem-calc(91px)});
	padding: spacing(4);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
